Q1. Pearson correlation coefficient is a measure of the linear relationship between two variables. Suppose
you have collected data on the amount of time students spend studying for an exam and their final exam
scores. Calculate the Pearson correlation coefficient between these two variables and interpret the result.

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'Studying_hours' : [3, 5, 6, 8, 11],
    'Final_exams_score' : [70, 80, 85, 90, 95]
})

In [3]:
df.head()

   Studying_hours  Final_exams_score
0               3                 70
1               5                 80
2               6                 85
3               8                 90
4              11                 95

## Finding pearson coefficient

In [4]:
##using df internal correlation

df.corr(method = 'pearson')

                   Studying_hours  Final_exams_score
Studying_hours           1.000000           0.963177
Final_exams_score        0.963177           1.000000

This means that there is a strong positive linear relationship between the time spent 
studying and the exam scores. The correlation coefficient is close to +1, indicating that as the 
time spent studying increases, the exam scores also tend to increase.

-----------------

Q2. Spearman's rank correlation is a measure of the monotonic relationship between two variables.
Suppose you have collected data on the amount of sleep individuals get each night and their overall job
satisfaction level on a scale of 1 to 10. Calculate the Spearman's rank correlation between these two
variables and interpret the result.

In [5]:
df1 = pd.DataFrame({
    'sleep' : [7, 6, 8, 5, 7, 6, 5, 8, 9, 7],
    'satisfaction' : [8, 5, 7, 4, 9, 6, 5, 7, 8, 9]

})

In [6]:
df1.head()

   sleep  satisfaction
0      7             8
1      6             5
2      8             7
3      5             4
4      7             9

In [7]:
##calculating Spearman coorelation

df1.corr(method = 'spearman')

                 sleep  satisfaction
sleep         1.000000      0.664606
satisfaction  0.664606      1.000000

coefficient of 0.66 suggests that there is a moderate positive monotonic relationship 
between the two variables being studied.

--------------------------

Q3. Suppose you are conducting a study to examine the relationship between the number of hours of
exercise per week and body mass index (BMI) in a sample of adults. You collected data on both variables
for 50 participants. Calculate the Pearson correlation coefficient and the Spearman's rank correlation
between these two variables and compare the results.

In [8]:
df2 = pd.DataFrame({
    'hours_exercise' : [4, 5, 3, 6, 2, 4, 7, 5, 6, 3, 2, 5, 6, 3, 4, 2, 5, 7, 3, 5, 6, 2, 4, 5, 6,
                           3, 5, 2, 6, 4, 7, 5, 6, 3, 2, 5, 6, 3, 4, 2, 5, 7, 3, 5, 6, 2, 4, 5, 6,7],
    'BMI' : [25.4, 26.2, 27.8, 28.1, 26.5, 24.7, 23.9, 30.2, 25.7, 26.4, 28.8, 29.7, 26.1, 27.3,
                28.4, 24.9, 30.1, 25.9, 26.7, 25.5, 24.8, 27.2, 26.3, 28.1, 27.6, 24.5, 25.8, 29.5,
                28.3, 29.8, 24.3, 27.1, 26.5, 28.2, 29.9, 27.4, 24.6, 25.2, 29.1, 24.4, 27.9, 26.9,
                28.5, 27.7, 25.1, 26.8, 28.9, 24.2, 25.3, 27.5]

})

In [9]:
df2.head()

   hours_exercise   BMI
0               4  25.4
1               5  26.2
2               3  27.8
3               6  28.1
4               2  26.5

In [10]:
## pearson coefficient:

df2.corr(method = 'pearson')

                hours_exercise       BMI
hours_exercise        1.000000 -0.215853
BMI                  -0.215853  1.000000

In [11]:
## spearman correlation

df2.corr(method = 'spearman')

                hours_exercise       BMI
hours_exercise        1.000000 -0.228539
BMI                  -0.228539  1.000000

Based on these results, we can see that there is a weak negative correlation between the number of hours of 
exercise per week and body mass index. The Pearson correlation coefficient is -0.21, indicating a weak negative 
linear relationship between the two variables. The Spearman's rank correlation coefficient is -0.22.

---------------

Q4. A researcher is interested in examining the relationship between the number of hours individuals
spend watching television per day and their level of physical activity. The researcher collected data on
both variables from a sample of 50 participants. Calculate the Pearson correlation coefficient between
these two variables.

In [12]:
df3 = pd.DataFrame({
    'TV_Hours' : [3, 4, 2, 6, 5, 4, 3, 2, 1, 7, 5, 4, 2, 3, 1, 6, 5, 4, 3, 2, 4, 5, 6, 7, 2, 1, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 4, 6, 8, 10, 1, 3, 5],
    'Physical_activity': [6, 7, 8, 9, 6, 5, 4, 3, 2, 5, 7, 8, 9, 5, 6, 7, 8, 5, 6, 7, 3, 5, 6, 7, 8, 9, 6, 5, 4, 2, 6, 5, 7, 8, 9, 7, 6, 5, 4, 3, 7, 8, 6, 5, 4, 9, 8, 7, 6, 5]
})

In [13]:
df3.head()

   TV_Hours  Physical_activity
0         3                  6
1         4                  7
2         2                  8
3         6                  9
4         5                  6

In [14]:
##Pearson correlation coefficient

df3.corr(method = 'pearson')

                   TV_Hours  Physical_activity
TV_Hours           1.000000          -0.029772
Physical_activity -0.029772           1.000000

The output will be the Pearson correlation coefficient between the two variables. 
The closer the coefficient is to 1, the stronger the positive linear relationship between the two variables. 
The closer the coefficient is to -1, the stronger the negative linear relationship between the two variables. 
If the coefficient is close to 0, it indicates a weak or no linear relationship between the two variables.

-----------

Q5. A survey was conducted to examine the relationship between age and preference for a particular
brand of soft drink. The survey results are shown below:
    
Age(Years)
25 
42 
37
19
31
28

Soft drink Preference
Coke
Pepsi
Mountain dew
Coke
Pepsi
Coke

In [15]:
df4 = pd.DataFrame({
    'Age(Years)' : [25,42,37,19,31,28],
    'Soft drink Preference' : ['coke','pepsi','Mountain Dew','coke','pepsi','coke']
})

In [16]:
df4.head()

   Age(Years) Soft drink Preference
0          25                  coke
1          42                 pepsi
2          37          Mountain Dew
3          19                  coke
4          31                 pepsi

In [18]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [19]:
encoder = LabelEncoder()

In [36]:
df5 = pd.DataFrame(encoder.fit_transform(df4[['Soft drink Preference']]),columns = ['encoded_preferece'])

/opt/conda/lib/python3.10/site-packages/sklearn/preprocessing/_label.py:116: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [37]:
df5

   encoded_preferece
0                  1
1                  2
2                  0
3                  1
4                  2
5                  1

In [38]:
final_df = pd.concat([df4,df5],axis =1)
final_df

   Age(Years) Soft drink Preference  encoded_preferece
0          25                  coke                  1
1          42                 pepsi                  2
2          37          Mountain Dew                  0
3          19                  coke                  1
4          31                 pepsi                  2
5          28                  coke                  1

In [39]:
final_df.var()

/tmp/ipykernel_109/2420456720.py:1: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  final_df.var()

Age(Years)           68.666667
encoded_preferece     0.566667
dtype: float64

In [40]:
final_df.corr(method = 'pearson')

/tmp/ipykernel_109/2590283781.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  final_df.corr(method = 'pearson')

                   Age(Years)  encoded_preferece
Age(Years)           1.000000           0.181686
encoded_preferece    0.181686           1.000000

In [41]:
final_df.corr(method = 'spearman')

/tmp/ipykernel_109/3749953020.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  final_df.corr(method = 'spearman')

                   Age(Years)  encoded_preferece
Age(Years)           1.000000           0.277746
encoded_preferece    0.277746           1.000000

---------------------------

Q6. A company is interested in examining the relationship between the number of sales calls made per day
and the number of sales made per week. The company collected data on both variables from a sample of
30 sales representatives. Calculate the Pearson correlation coefficient between these two variables.

In [45]:
df6 = pd.DataFrame({
    'sales_calls' : [20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165],
    'sales_made' : [5, 8, 10, 12, 15, 18, 20, 22, 25, 27, 30, 32, 35, 38, 40, 42, 45, 48, 50, 52, 55, 58, 60, 62, 65, 68, 70, 72, 75, 78]

})

In [46]:
df6.head()

   sales_calls  sales_made
0           20           5
1           25           8
2           30          10
3           35          12
4           40          15

In [47]:
df6.corr(method = 'pearson')

             sales_calls  sales_made
sales_calls     1.000000    0.999868
sales_made      0.999868    1.000000

it shows 99% or 0.99 which is a great relation