Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [1]:
import pandas as pd

In [2]:
##creating pandas series

data = [4,8,15,16,23,42]

In [3]:
my_series = pd.Series(data)

In [4]:
print(my_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

-------------------------------------------------------------------------------------------------------------------------------

Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

In [9]:
my_list = (range(0,100,10))

In [10]:
list(my_list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [11]:
l_series = pd.Series(my_list)

##printing series
print(l_series)

##checking type of variable
type(l_series)

0     0
1    10
2    20
3    30
4    40
5    50
6    60
7    70
8    80
9    90
dtype: int64

pandas.core.series.Series

-------------------------------------------------------------------------------------------------------------------------------

Q3. Create a Pandas DataFrame that contains the following data:


Name    Age    Gender
Alice   25     Female
Bob     30     Male 
Claire  27     Female

Then, print the DataFrame.

In [13]:
data = {'Name' : ['Alice','Bob','Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}

In [14]:
df = pd.DataFrame(data)

In [16]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

-------------------------------------------------------------------------------------------------------------------------------

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

Answer:

a DataFrame is a two-dimensional labeled data structure, while a Series is a one-dimensional labeled array. 
A DataFrame can be thought of as a collection of Pandas Series, where each Series represents a single column of the DataFrame.



Example of Dataframe is :
    
    
    data = {'Name' : ['Alice','Bob','Claire'],
        'Age': [25, 30, 27],
        'Gender': ['Female', 'Male', 'Female']}
    
    
    df = pd.DataFrame(data)
    
    df
    
    
    
    
Example of series is:
    
    data = [25, 30, 35]
    s = pd.Series(data)
    print(s)

-------------------------------------------------------------------------------------------------------------------------------

Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?

Pandas provides a wide range of functions to manipulate data in a DataFrame. Here are some commonly used functions:


1. head() and tail(): These functions allow you to preview the first or last n rows of a DataFrame. 
   For example, df.head(10) will display the first 10 rows of the DataFrame df, while df.tail(5) will display the last 5 rows.

2. describe(): This function provides a statistical summary of the DataFrame, including count, mean, standard deviation,          minimum, maximum, and quartiles. 
   For example, df.describe() will provide a summary of the DataFrame df.

3. groupby(): This function allows you to group the data in a DataFrame by one or more variables and apply a function to each      group.
   For example, df.groupby('gender').mean() will group the data in the DataFrame df by the 'gender' column and calculate the      mean for each group.
   
4. sort_values(): This function allows you to sort the data in a DataFrame by one or more columns.
   For example, df.sort_values('age') will sort the data in the DataFrame df by the 'age' column in ascending order.

5. drop(): This function allows you to remove one or more columns or rows from a DataFrame.
   For example, df.drop('gender', axis=1) will remove the 'gender' column from the DataFrame df.
   
6. fillna(): This function allows you to fill missing values in a DataFrame with a specified value or method.
   For example, df.fillna(0) will fill all missing values in the DataFrame df with 0.

-------------------------------------------------------------------------------------------------------------------------------

Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

Answer : Series and DataFrame is mutable in nature

-------------------------------------------------------------------------------------------------------------------------------

Q7. Create a DataFrame using multiple Series. Explain with an example.

In [19]:
# create three Pandas Series
names = pd.Series(['Shubham', 'Meet', 'Sapna'])
ages = pd.Series([29, 30, 33])
genders = pd.Series(['Male', 'Female', 'Female'])

# create a DataFrame using the Series
df = pd.DataFrame({'Name': names, 'Age': ages, 'Gender': genders})

# print the DataFrame
print(df)

      Name  Age  Gender
0  Shubham   29    Male
1     Meet   30  Female
2    Sapna   33  Female

we first created three Pandas Series: names, ages, and genders. 
We then used a dictionary to create a DataFrame, 
where each key is a column name and each value is a Pandas Series. Finally, we printed the resulting DataFrame.